<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID">
    <!--  这个元素用于配置一个Servlet。   -->
    <servlet>
        <!--  定义了Servlet的名称，这里命名为 "minisMVC"      -->
        <servlet-name>minisMVC</servlet-name>
        <!--  指定servlet的核心类，也就是web程序的核心代码    -->
        <servlet-class>com.minis.web.DispatcherServlet</servlet-class>
        <!--  这个元素用于配置Servlet的初始化参数。-->
        <init-param>
            <!-- 定义初始化参数的名称，这里是 "contextConfigLocation"。-->
            <param-name>contextConfigLocation</param-name>
            <!-- 指定初始化参数的值，这里是 "/WEB-INF/minisMVC-servlet.xml"，表示配置文件的路径。-->
            <param-value> /WEB-INF/minisMVC-servlet.xml </param-value>
        </init-param>
        <!-- 指定Servlet在Web应用程序启动时加载的顺序，这里是 "1"，表示在启动时加载。-->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <!-- 这个元素用于配置Servlet的映射。-->
    <servlet-mapping>
        <!-- 指定要映射的Servlet的名称，这里是 "minisMVC"。-->
        <servlet-name>minisMVC</servlet-name>
        <!--  指定URL模式，当请求的URL匹配这个模式时，该Servlet将被调用。这里是 "/"，表示根路径。-->
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>